In [1]:
import pandas as pd

In [2]:
ladata = pd.read_csv('data/la_clean.csv')

In [3]:
phdata = pd.read_csv('data/ppd_clean.csv')

In [4]:
sfdata = pd.read_csv('data/sfpd_clean.csv')

In [5]:
louisdata = pd.read_csv('data/lvpd_clean.csv')

/Users/livenb/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
ladata.head()

,Unnamed: 0,CITY,LATITUDE,LONGITUDE,STATION_NAME,STATISTICAL_CODE_DESCRIPTION,STREET,ZIP,CrimeCat,Hour,Month,Day,Year,DayOfWeek
0,1,MARINA DEL REY,33.981571,-118.460040,MARINA DEL REY,DRUNK: Alcohol,4100 ADMIRALTY WAY,90292.0,3,0,1,1,2012,7
1,2,COVINA,34.105441,-117.849251,SAN DIMAS,"BURGLARY, RESIDENCE: Night, Entry No Force",5100 GREER AVE,91724.0,7,0,1,1,2012,7
2,7,LOS ANGELES,34.043482,-118.159613,EAST LOS ANGELES,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,610 N COLONIA DE LOS CEDROS,90022.0,5,2,1,1,2012,7
3,10,LANCASTER,34.697267,-118.146393,LANCASTER,"BURGLARY, OTHER STRUCTURE: Day, Entry No Force",870 W LANCASTER BLVD,93534.0,7,15,4,21,2009,2
4,11,PASADENA,34.130000,-118.089695,TEMPLE,"BURGLARY, RESIDENCE: Day, Entry By Force",3070 GAINSBOUROUGH DR,91107.0,7,10,2,14,2012,2

In [6]:
import re
def replace_str_zipcode(x):
    return re.sub('\.0', '', x)

In [7]:
louisdata['ZIP_CODE'] = louisdata['ZIP_CODE'].apply(str).apply(replace_str_zipcode)
louisdf = louisdata.groupby(['Year', 'Month','ZIP_CODE','CrimeCat'])['Unnamed: 0'].count().unstack().reset_index()
louisdf = louisdf[louisdf['Year'] > 2000].fillna(0)

In [21]:
louisdf.to_csv('data/louisdf.csv', index=False)

In [8]:
louisdf['ZIP_CODE'].unique().shape

(52,)

In [22]:
louisdf = pd.read_csv('data/louisdf.csv')

In [19]:
louisdf = louisdf.drop('Unnamed: 0', axis=1)

In [23]:
louisdf.head()

   Year  Month ZIP_CODE    1    2    3    4    5    6    7    8    9   10
0  2001      1    40056  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  4.0  0.0
1  2001      1    40202  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  2001      1    40203  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  6.0  0.0
3  2001      1    40204  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  2001      1    40205  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.0  0.0

In [25]:
ladata['ZIP'] = ladata['ZIP'].apply(str).apply(replace_str_zipcode)
ladf = ladata.groupby(['Year', 'Month', 'ZIP', 'CrimeCat'])['Unnamed: 0'].count().unstack().reset_index()

In [27]:
ladf = ladf.fillna(0)

In [31]:
ladf.head()

   Year  Month    ZIP    1    2    3    4    5    6    7    8    9   10
0  2004      1  90001  0.0  1.0  1.0  5.0  8.0  0.0  5.0  0.0  4.0  0.0
1  2004      1  90002  3.0  0.0  0.0  1.0  3.0  1.0  0.0  0.0  1.0  0.0
2  2004      1  90004  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  2004      1  90005  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  2004      1  90006  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [29]:
ladf.to_csv('data/ladf.csv', index=False)

In [30]:
ladf = pd.read_csv('data/ladf.csv')

In [34]:
sfdf = sfdata.groupby(['Year', 'Month', 'zipcode', 'CrimeCat'])['Unnamed: 0'].count().unstack().reset_index()
sfdf = sfdf.fillna(0)

In [38]:
sfdf.head()

,Year,Month,zipcode,1,2,3,4,5,6,7,9,10
0,2003,1,94014,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
1,2003,1,94102,286.0,43.0,327.0,145.0,64.0,37.0,28.0,4.0,11.0
2,2003,1,94103,260.0,26.0,200.0,134.0,117.0,48.0,37.0,9.0,4.0
3,2003,1,94104,21.0,5.0,0.0,7.0,0.0,4.0,5.0,0.0,0.0
4,2003,1,94105,61.0,0.0,3.0,11.0,10.0,9.0,2.0,0.0,0.0

In [36]:
sfdf.to_csv('data/sfdf.csv', index=False)

In [37]:
sfdf = pd.read_csv('data/sfdf.csv')

In [42]:
phdata['zipcode'] = phdata['zipcoe'].apply(str).apply(replace_str_zipcode)
phdf = phdata.groupby(['Year', 'Month', 'zipcode','CrimeCat'])['Unnamed: 0'].count().unstack().reset_index()
phdf = phdf.fillna(0)

In [46]:
phdf.head()

   Year  Month  zipcode     1    2    3    4    5     6     7    8    9   10
0  2006      1  19004.0   5.0  1.0  0.0  0.0  0.0   1.0   3.0  0.0  0.0  0.0
1  2006      1  19027.0   0.0  0.0  0.0  1.0  0.0   0.0   0.0  0.0  0.0  0.0
2  2006      1  19066.0   2.0  1.0  0.0  0.0  0.0   0.0   0.0  0.0  0.0  0.0
3  2006      1  19102.0  86.0  3.0  3.0  0.0  2.0   5.0   4.0  0.0  1.0  1.0
4  2006      1  19103.0  97.0  6.0  2.0  4.0  0.0  30.0  11.0  1.0  1.0  1.0

In [44]:
phdf.to_csv('data/phdf.csv', index=False)

In [45]:
phdf = pd.read_csv('data/phdf.csv')

In [47]:
dedata = pd.read_csv('data/detroit_clean.csv')

/Users/livenb/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
dedata['zipcode'] = dedata['zipcode'].apply(str).apply(replace_str_zipcode)
dedf = dedata.groupby(['year', 'month', 'zipcode','CrimeCat'])['Unnamed: 0'].count().unstack().reset_index()
dedf =dedf.fillna(0)

In [54]:
dedf.head()

   year  month zipcode    1    2    3    4    5    6    7    8    9   10
0  2009      1   48021  2.0  1.0  0.0  0.0  1.0  4.0  2.0  0.0  0.0  0.0
1  2009      1   48030  1.0  2.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
2  2009      1   48076  4.0  0.0  0.0  2.0  0.0  1.0  0.0  0.0  0.0  0.0
3  2009      1   48093  3.0  2.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  2009      1   48122  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0

In [52]:
dedf.to_csv('data/dedf.csv', index=False)

In [53]:
dedf = pd.read_csv('data/dedf.csv')